<!DOCTYPE html>
<html>

<head>
	<title>Check-in Online 1</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- <link href="style_DA.css" rel="stylesheet"> -->
	<link rel="icon" type="image/png" href="/image/favicon.png"/>
	<link rel="stylesheet" href="/css/style_DA.css">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-ligh sticky-top">
		<div class="container-fluid">
			<a class="navbar-branch" href="/">
				<img src="/image/logo.svg" height="100">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="chuyenbaycuatoi.ejs">CHUYẾN BAY CỦA TÔI</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="checkin.ejs">CHECK-IN ONLINE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="dichvuchuyenbay_1.ejs">DỊCH VỤ CHUYẾN BAY</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<p></p>
	<div class="container bg-light rounded" class="mx-auto" style="width: 1500px;">
		<p class="font-weight-bold" style="color: #52595D; font-size: 35px; text-align: center; font-family:Cambria;">
			Hành khách tự làm thủ tục tìm kiếm đặt chỗ</p>
		<table class="table">
			<th class="table border table-borderless rounded">
				<p class="font-weight-bold" style="color:#F70D1A; font-size: 22px; font-family:Cambria;">TỰ LÀM THỦ TỤC
					CHUYẾN BAY QUA WEB TẠI ĐÂY</p>
				<p style="color:#F70D1A; font-weight:normal">Sẵn sàng cho chuyến bay vui vẻ, thoải mái cùng Vietjet, Bạn
					có thể làm thủ tục chuyến bay trực tuyến nhanh chóng, tiện lợi, đơn giản.</p>
				<div class="row">
					<div class="col">
						<p style="font-weight:normal;"> Mã đặt chỗ (*):</p>
						<input type="text" class="form-control" name="MaDatCho">
					</div>
					<div class="col">
						<p style="font-weight:normal;"> Họ và tên (*):</p>
						<input type="text" class="form-control" placeholder="Nguyen Van A" name="HoTen">
					</div>
				</div>
				<a class="btn btn-warning btn-sm rounded" role="button" style="color:black;" class="nav-link active"
					href="thutuctructuyen.ejs">Xem chuyến bay</a>
			</th>
		</table>
	</div>



	<footer>
		<div class="container-fluid padding">
			<div class='row text-center'>
				<div class="col-lg-12">
					<hr class="light">
					<p>Copyright &copy; <nbsp> 2021 HKTravel Service Trading Co.,LTD</nbsp>
					</p>
					<p>Ad 1: 29C Cộng Hòa 3, Q. Tân Phú, TP.HCM - Ad 2: 246/9B23 Xô Viết Nghệ Tĩnh, Q. Bình Thạnh,
						TP.HCM</p>
					<p>www.vietjetairs.com.vn | Email: ticket@vietjetonline.com</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>