<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/css/input_thong_tin_khach_hang.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <script src="/script/thongtinkhachhang.js"></script>
    <link rel="stylesheet" href="/css/thanh_toan.css">
    <title>Xác nhận thông tin</title>
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="content_body">
            <h1 class="head-title1">
                Thông tin người liên hệ
            </h1>
            <p class="form_instructions">- Quý khách vui lòng nhập thông tin liên hệ, thông tin hành khách,
                chọn phương thức thanh toán để tiếp tục đặt vé.<br> - <span class="red_span">(*)</span> ô bắt buộc nhập.
            </p>
            <div class="div_form_container">
                <form>
                    <div class="form-group row div_form">
                        <label class="col-3 col-form-label" for="ten_KH">Họ và tên (*)</label>
                        <div class="col-9">
                            <input class="form-control" id="ten_KH" type="text" placeholder="Ví dụ: Nguyễn Thành Đạt" required>
                        </div>
                    </div>
                    <div class="form-group row div_form">
                        <label class="col-3 col-form-label" for="sdt">Số điện thoại (*)</label>
                        <div class="col-9">
                            <input class="form-control" id="sdt" type="tel" placeholder="Ví dụ: 028 6547 7962">
                        </div>
                    </div>
                    <div class="form-group row div_form">
                        <label class="col-3 col-form-label" for="ngay_sinh">Ngày sinh (*)</label>
                        <div class="col-9">
                            <input class="form-control" id="ngay_sinh" type="date" max="2021-01-01" value="2001-06-12">
                        </div>
                    </div>
                    <div class="form-group row div_form">
                        <label class="col-3 col-form-label" for="email">Email (*)</label>
                        <div class="col-9">
                            <input class="form-control" id="email" type="email"
                                placeholder="Ví dụ: thanhdatnguyen@gmail.com">
                        </div>
                    </div>
                    <div class="form-group row div_form">
                        <label class="col-3 col-form-label" for="dia_chi">Địa chỉ</label>
                        <div class="col-9">
                            <textarea class="form-control" id="dia_chi" rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="head-title1">Chọn phương thức thanh toán</h2>
                        <label class="method_payment_div d-flex align-items-start mb-2" for="method_transfer_1">
                            <input type="radio" class="radio_button" id="method_transfer_1" value="1"
                                name="radiopayment">
                            <label class="payment_content" for="method_transfer_1">
                                <h5><strong>THANH TOÁN TẠI PHÒNG VÉ</strong></h5>
                                <span>Sau khi đặt hàng thành công, bạn có thể đến văn phòng chúng tôi để thanh toán và
                                    nhận vé.
                                    Vui lòng chọn văn phòng gần địa chỉ nhà của bạn nhất.</span>
                            </label>
                        </label>
                        <label class="method_payment_div d-flex align-items-start mb-2" for="method_transfer_2">
                            <input type="radio" class="radio_button" id="method_transfer_2" value="2"
                                name="radiopayment">
                            <label for="method_transfer_2" class="payment_content">
                                <h5><strong>THANH TOÁN TẠI ĐỊA CHỈ QUÝ KHÁCH YÊU CẦU</strong></h5>
                                <span>Sau khi nhận được yêu cầu, nhân viên Vietjetairs sẽ đến tận nơi địa chỉ của quý
                                    khách
                                    để giao vé & thu tiền trong 3 giờ, từ thứ 2 - chủ nhật, cả ngày lễ hoàn toàn miễn
                                    phí.
                                </span>
                            </label>
                        </label>
                        <div class="d-flex justify-content-end btn-div mt-3">
                            <img style="margin-right: 0px"
                                src="https://vietjetairs.com.vn/themes/flightbk/img/arrow1.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger" id="continue_payment">Xác nhận</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>