<!DOCTYPE html>
<html>

<head>
  <title>Ket qua tim chuyen bay</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- <link href="style_DA.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/style_DA.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-ligh sticky-top">
    <div class="container-fluid">
      <a class="navbar-branch" href="ex.html">
        <img src="/image/logo.svg" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="chuyenbaycuatoi.ejs">CHUYẾN BAY CỦA TÔI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkin.ejs">CHECK-IN ONLINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dichvuchuyenbay_1.ejs">DỊCH VỤ CHUYẾN BAY</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <p></p>
  <div class="container-fluid bg-light rounded" style="width: 1300px;">
    <div class="row">
      <div class="col-lg-1">
        <i class="fas fa-plane" style="font-size:40px; left:0px"></i>
      </div>
      <div class="col-lg-3">
        <p style="color: #52595D; font-size:36px; text-align: left;">Chọn chuyến đi</p>
      </div>
      <div class="col-lg-8">
        <p style="font-size:36px; color:red;text-align: left;"><b>TP Hồ Chí Minh(SGN) -> Hà Nội(HAN)</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav class="nav nav-pills flex-column flex-lg-row">
          <a class="flex-lg-fill text-lg-center nav-link active" href="#Day1" data-toggle="tab">Ngày 1</a>
          <a class="flex-lg-fill text-lg-center nav-link" href="#Day2" data-toggle="tab">Ngày 2</a>
          <a class="flex-lg-fill text-lg-center nav-link" href="#Day3" data-toggle="tab">Ngày 3</a>
          <a class="flex-lg-fill text-lg-center nav-link" href="#Day4" data-toggle="tab">Ngày 4</a>
        </nav>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="Day1" role="tabpanel">
        <div class="row">
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Chuyến bay</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Khởi hành</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Đến</b></p>
          </div>
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Giá</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Chi tiết</b></p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Day2" role="tabpanel">
        <div class="row">
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Chuyến bay</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Khởi hành</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Đến</b></p>
          </div>
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Giá</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Chi tiết</b></p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Day3" role="tabpanel">
        <div class="row">
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Chuyến bay</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Khởi hành</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Đến</b></p>
          </div>
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Giá</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Chi tiết</b></p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Day4" role="tabpanel">
        <div class="row">
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Chuyến bay</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Khởi hành</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Đến</b></p>
          </div>
          <div class="col-lg-3">
            <p style="text-align: center;"><b>Giá</b></p>
          </div>
          <div class="col-lg-2">
            <p style="text-align: center;"><b>Chi tiết</b></p>
          </div>
        </div>
      </div>
    </div>

    <a class="btn btn-danger btn-lg rounded" role="button" style="color:white; background-color: red;"
      class="nav-link active" href="ex.ejs">Quay lại</a>
    <a class="btn btn-danger btn-lg rounded" role="button" style="color:white; background-color: red; float:right;"
      class="nav-link active" href="#">Tiếp tục</a>
  </div>





  <footer>
    <div class="container-fluid padding">
      <div class='row text-center'>
        <div class="col-lg-12">
          <hr class="light">
          <p>Copyright &copy; <nbsp> 2021 HKTravel Service Trading Co.,LTD</nbsp>
          </p>
          <p>Ad 1: 29C Cộng Hòa 3, Q. Tân Phú, TP.HCM - Ad 2: 246/9B23 Xô Viết Nghệ Tĩnh, Q. Bình Thạnh, TP.HCM</p>
          <p>www.vietjetairs.com.vn | Email: ticket@vietjetonline.com</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>