<!DOCTYPE html>
<html>

<head>
	<title>Kết quả chọn ghế</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- <link href="style_DA.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="/css/style_DA.css">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-ligh sticky-top">
		<div class="container-fluid">
			<a class="navbar-branch" href="ex.html">
				<img src="/image/logo.svg" height="100">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="chuyenbaycuatoi.ejs">CHUYẾN BAY CỦA TÔI</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="checkin.ejs">CHECK-IN ONLINE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">DỊCH VỤ CHUYẾN BAY</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<p></p>

	<div class="container bg-light rounded" class="mx-auto">
		<p class="font-weight-bold" style="color: #52595D; font-size: 35px; text-align: center; font-family:Cambria;">
			Làm thủ tục trực tuyến</p>
		<table class="table table-bordered">
			<thead style="background-color: red; color:white; text-align: center;">
				<tr>
					<th class="col-lg-3">Họ và tên</th>
					<th class="col-lg-4">Chuyến bay</th>
					<th class="col-lg-2">Ghế ngồi</th>
					<th class="col-lg-3">Tình trạng</th>
				</tr>
			</thead>
			<tbody>
				<tr style="text-align:center;">
					<td>Nguyễn Văn A</td>
					<td>VJ069 SGN-HPH</td>
					<td>A1</td>
					<td>Đã làm thủ tục</td>
				</tr>
			</tbody>
		</table>
		<p style="font-size:30px;">Xin chúc mừng !</p>
		<p style="font-size:24px">Bạn đã hoàn thành quy trình tự làm thủ tục lên máy bay</p>
		<p style="font-size:18px; color: red;"><i>Lưu ý:</i></p>
		<div style="position: relative; left: 20px; font-size:18px; color: red;">
			<p>1. Có mặt tại sân bay tối thiểu 45 phút trước giờ khởi hành</p>
			<p>2. Chịu trách nhiệm vế thời hạn của các loại giấy tờ tuỳ thân</p>
			<p>3. Không được đổi tên, ghế ngồi và chuyến bay</p>
			<p>4. Có thể mua thêm các dịch vụ ở phần DỊCH VỤ CHUYẾN BAY và thanh toán các cước phát sinh tại quầy thủ
				tục ở sân bay</p>
			<p>5. Liên hệ quầy thủ tục tại sân bay để kí gửi hành lý hoặc cập nhật giờ lên máy bay, cửa khởi hành</p>
		</div>
		<center><a class="btn btn-warning btn-md rounded" role="button" style="color:black;" class="nav-link active"
				href="ex.html">Kết thúc</a></center>

	</div>



	<footer>
		<div class="container-fluid padding">
			<div class='row text-center'>
				<div class="col-lg-12">
					<hr class="light">
					<p>Copyright &copy; <nbsp> 2021 HKTravel Service Trading Co.,LTD</nbsp>
					</p>
					<p>Ad 1: 29C Cộng Hòa 3, Q. Tân Phú, TP.HCM - Ad 2: 246/9B23 Xô Viết Nghệ Tĩnh, Q. Bình Thạnh,
						TP.HCM</p>
					<p>www.vietjetairs.com.vn | Email: ticket@vietjetonline.com</p>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>