<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- <link rel="stylesheet" href="xac_nhan_clicked.css"> -->
    <link rel="stylesheet" href="/css/xac_nhan_thanhtoan.css">
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/script/hoadon.js'></script>
    <title>Xác nhận thông tin</title>
</head>

<body>
    <div class="d-flex justify-content-center">
        <div class="content_body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="head-title1">
                            Cảm ơn bạn đã đặt vé tại ... | Đặt vé online - Ưu đãi bất ngờ
                        </h1>
                        <div class="div_1">
                            <p style="text-align: center; font-size: 35px; color: white;">Thông tin đơn hàng</p>
                        </div>
                        <div class="div_2">
                            <p id="MaDatCho"><b>Mã đặt chỗ:</b></p>
                            <p id="TongTien"><b>Tổng tiền:</b></p>
                            <p id="NgayDat"><b>Ngày đặt:</b></p>
                            <p id=PhuongThuc><b>Phương thức thanh toán:</b></p>
                        </div>
                        <div class="div_3">
                            <p>Quý khách lưu ý!</p>
                            <p>
                                Chuyến bay khởi hành trong vòng 24 tiếng nên không giữ chỗ. Quý
                                khách vui lòng thanh toán ngay để tránh giá vé tăng hoặc hết chỗ.
                                Xin cảm ơn!
                            </p>
                        </div>
                        <div class="d-flex justify-content-between head_2">
                            <div>Chuyến bay chiều đi</div>
                            <div></div>
                            <div>Hãng hàng không: <span class="ten_hang">VietjetAir</span>
                            </div>
                        </div>
                        <div class="dec d-flex">
                            <div class="dec_1">Thông tin hành trình</div>
                            <div class="dec_2"></div>
                        </div>
                        <div id="ChuyenBay">
                        </div>
                        <div class="dec d-flex">
                            <div class="dec_1" style="font-weight: lighter;">Hành khách</div>
                            <div class="dec_2" style="background: #cbedf5; font-size: 20px; text-align: center;" id="HanhKhach"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>